In [1]:
#Import Necessary Libraries
import pandas as pd

In [9]:
#Load the Dataset
df = pd.read_csv('C:/Users/91720/OneDrive/Documents/IMDb_dataset.csv', encoding="ISO-8859-1")

In [10]:
#Explore the Dataset to check the structure of the dataset by displaying the first few rows and exploring its columns.

In [11]:
# Display the first few rows of the dataset
print(df.head())

             Title                  Genre           Premiere  Runtime  \
0  Enter the Anime            Documentary     August 5, 2019       58
1      Dark Forces               Thriller    August 21, 2020       81
2          The App  Science fiction/Drama  December 26, 2019       79
3   The Open House        Horror thriller   January 19, 2018       94
4      Kaali Khuhi                Mystery   October 30, 2020       90

   IMDB Score          Language
0         2.5  English/Japanese
1         2.6           Spanish
2         2.6           Italian
3         3.2           English
4         3.4             Hindi

In [12]:
# You can also check the column names
print(df.columns)

Index(['Title', 'Genre', 'Premiere', 'Runtime', 'IMDB Score', 'Language'], dtype='object')

In [19]:
#display basic information about the dataframe
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 584 entries, 0 to 583
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       584 non-null    object
 1   Genre       584 non-null    object
 2   Premiere    584 non-null    object
 3   Runtime     584 non-null    int64
 4   IMDB Score  584 non-null    float64
 5   Language    584 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 31.9+ KB
None

In [20]:
#display summary statistics
print(df.describe())

          Runtime  IMDB Score
count  584.000000  584.000000
mean    93.577055    6.271747
std     27.761683    0.979256
min      4.000000    2.500000
25%     86.000000    5.700000
50%     97.000000    6.350000
75%    108.000000    7.000000
max    209.000000    9.000000

In [13]:
#Data Preprocessing

In [14]:
#check for missing values
print(df.isnull().sum())

Title         0
Genre         0
Premiere      0
Runtime       0
IMDB Score    0
Language      0
dtype: int64

In [15]:
# Handling missing values
df.dropna(inplace=True) # Remove rows with missing values

In [18]:
#remove duplicates
df=df.drop_duplicates()

In [21]:
#save the dataframe to a new CSV file
df.to_csv('C:/Users/91720/OneDrive/Documents/New_IMDb_dataset.csv',index=False)